# EXERCÍCIO 04

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# classe para conexão com o banco de dados

class ConexaoBD():
    def conectar(self):
        return pyodbc.connect (driver='{SQL Server}', server = 'GROUP-NOTE0146', database = 'Empresa', trusted_conecction = 'yes')

# pegar uma conexão com o banco de dados

bd = ConexaoBD()
conexao = bd.conectar()

In [3]:
# Criando a tabela Categoria

class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def criar (self):
        ddl = '''
            create table Categoria (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento.
                nome varchar (32),
                descricao text
            );
            '''
        with self.conexao:
            self.conexao.execute(ddl)
categoria = Categoria(conexao)
categoria.criar()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'Categoria' no banco de dados. (2714) (SQLExecDirectW)")

In [4]:
#Criando a classe Vendedor
class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            CREATE TABLE Vendedor (
                cpf varchar (14) primary key,
                nome varchar (128),
                email varchar (128),
                telefone varchar (20),
                endereco varchar (256)
            );
            '''
        with self.conexao:
            self.conexao.execute(ddl)
categoria = Vendedor(conexao)
categoria.criar()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'Vendedor' no banco de dados. (2714) (SQLExecDirectW)")

In [5]:
#Criando a classe Produto
class Produto:
    def __init__(self, conexao):
        self.conexao = conexao
    def criar(self):
        ddl = '''
            CREATE TABLE Produto(
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento dos valores gerados para a primary key.
                nome varchar (128),
                descricao text,
                marca varchar (32),
                id_categoria int foreign key references Categoria (id)
            );
            '''
        with self.conexao:
            self.conexao.execute(ddl)
categoria = Produto(conexao)
categoria.criar()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'Produto' no banco de dados. (2714) (SQLExecDirectW)")

In [6]:
#Criando a classe vendedor produto
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao
    def criar(self):
        ddl = '''
            CREATE TABLE VendedorProduto (
                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento dos valores gerados para a primary key.
                cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                id_produto int foreign key references Produto (id),
                quantidade int,
                preco decimal
            );
            '''
        with self.conexao:
            self.conexao.execute(ddl)
categoria = VendedorProduto(conexao)
categoria.criar()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'VendedorProduto' no banco de dados. (2714) (SQLExecDirectW)")

In [8]:
#Ler os registros da tabela Categoria
cursor = conexao.cursor()
cursor.execute('select *from Categoria')
for leitura in cursor:
    print(leitura)

(1, 'celulares', 'telefones celulares')
(2, 'livros', 'livros impressos')
(3, 'eletroeletrônicos', 'dispositivos eletroeletronicos')
(4, 'alimentos', 'alimentos não perecíveis')
(5, 'livros', 'livros impressos')
(6, 'eletroeletrônicos', 'dispositivos eletroeletronicos')
(7, 'alimentos', 'alimentos não perecíveis')
(8, 'celulares', 'telefones celulares')
(9, 'livros', 'livros impressos')
(10, 'eletroeletrônicos', 'dispositivos eletroeletronicos')
(11, 'alimentos', 'alimentos não perecíveis')
(12, 'celulares', 'telefones celulares')
(13, 'livros', 'livros impressos')
(14, 'eletroeletrônicos', 'dispositivos eletroeletronicos')
(15, 'alimentos', 'alimentos não perecíveis')
(17, 'cozinha', 'utensilhos de cozinha')
(18, 'cozinha', 'utensilhos de cozinha')
(19, 'cozinha', 'utensilhos de cozinha')
(20, 'cozinha', 'utensilhos de cozinha')
(22, 'cozinha', 'utensilhos de cozinha')
(23, 'celulares', 'telefones celulares')
(24, 'Roupas', 'Infantil')
(25, 'Roupas', 'Adulto')
(26, 'Casa', 'Sala')
(27, 'celulares', 'telefones celulares')
(28, 'Celulares', 'Novos')
(29, 'celulares', 'telefones celulares')
(30, 'Moveis', 'sofá')
(31, 'Brinquedos', 'jogos')
(32, 'TV', 'smart tv')
(33, 'Tablet', 'Samsung')
(34, 'Livros', 'Pré-venda')
(35, 'Móveis', 'Sofá')
(37, 'Escritorio', 'canetas')
(38, 'Cozinha', 'Utensilhos de cozinha')
(39, 'Telefonia', 'Aparelho telefônico')
(40, 'Informática', 'Computador POrtátil')
(41, 'Roupa', 'Vestuário')
(42, 'Calçados', 'Vestuário')
(43, 'Telefonia', 'Aparelho telefônico')
(44, 'Informática', 'Computador POrtátil')
(45, 'Roupa', 'Vestuário')
(46, 'Calçados', 'Vestuário')
(47, 'Telefonia', 'Aparelho telefônico')
(48, 'Informática', 'Computador POrtátil')
(49, 'Roupa', 'Vestuário')
(50, 'Calçados', 'Vestuário')
(51, 'celulares', 'telefones celulares')
(52, 'Cozinha', 'Utensilhos de cozinha')
(53, 'Periféricos', 'Mouse')
(54, 'Periféricos', 'Mouse')
(55, 'Periféricos', 'Mouse')
(56, 'Periféricos', 'Mouse')
(57, 'Periféricos', 'Mouse')
(58, 'Periféricos', 'Mouse')
(59, 'Periféricos', 'Mouse')
(60, 'celulares', 'telefones celulares')
(61, 'livros', 'romance')
(62, 'Brinquedos', 'jogos')
(63, 'TV', 'smart tv')
(64, 'Tablet', 'Samsung')
(65, 'Livros', 'Pré-venda')
(66, 'Móveis', 'Sofá')
(67, 'Periféricos', 'Mouse')
(68, 'Periféricos', 'Mouse')
(69, 'Periféricos', 'Mouse')
(70, 'Periféricos', 'Mouse')
(71, 'Periféricos', 'Fones')
(72, 'Periféricos', 'Fones')
(73, 'Periféricos', 'Fones')
(74, 'Periféricos', 'Fones')
(75, 'Periféricos', 'Fones')
(76, 'Periféricos', 'Cabos')
(77, 'Periféricos', 'teclado')
(78, 'Livros', 'História')
(79, 'Livros', 'Informática')
(80, 'Informárica', 'Gabinete')
(81, 'Roupas', 'Blusas')
(82, 'Calçado', 'Tênis')
(83, 'Livros', 'História')
(84, 'Livros', 'Informática')
(85, 'Informárica', 'Gabinete')
(86, 'Roupas', 'Blusas')
(87, 'Calçado', 'Tênis')

In [9]:
#Ler os registros da tabela Vendedor
cursor = conexao.cursor()
cursor.execute('select * from Vendedor')
for leitura in cursor:
    print(leitura)

('209.821.440-59', 'Ester', 'ester@gmail.com.br', '(11) 94963-7429', 'Rua Capitão Manuel Novais, 942, Apto 1001, Pirituba, Araruna - PE')
('248.823.670-50', 'Daniele', 'daniele@gmail.com.br', '(11) 92637-1877', 'Avenida Nova Cantareira, 641, Apartamento 602, Itaim Bibi, São Sebastião do Maranhão - MT')
('311.348.530-41', 'Carla', 'carla@gmail.com.br', '(61) 91757-2429', 'Avenida Engenheiro Luís Carlos Berrini, 536, Apto 201, Santa Cecília, Barra Mansa - MG')
('363.957.600-41', 'Giovana', 'giovana@gmail.com.br', '(61) 99024-1933', 'Ligação Leste-Oeste, 659, Apartamento 4002, Jardim Helena, Jaraguari - BA')
('403.327.451-04', 'Audrey Marta', 'emanuel@msn.com', '(61) 90616-5843', 'Rua Voluntários da Pátria 367, Loja 602, Mandaqui, Ponto Belo - RS')
('527.592.280-96', 'Iasmin', 'iasmin@gmail.com.br', '(61) 91183-0532', 'Rua Amaral Gama, 158, Apartamento 703, Morumbi, São Domingos - SC')
('529.470.519-20', 'Geisa Rocha', '(11) 92476-1881', 'juracy@outlook.com', 'Avenida Santo Amaro 47, Apto 3002, Rio Pequeno, Santana da Boa Vista - PE')
('533.773.590-01', 'Hermínia', 'herminia@gmail.com.br', '(11) 90360-4178', 'Avenida Rubem Berta, 676, Apartamento 8003, Vila Guilherme, Riachuelo - MS')
('590.348.787-40', 'Ana', 'ana@gmail.com.br', '(31) 90512-3768', 'Rua João Cachoeira, 71, Vila Prudente -  Amaporã - MG')
('632.975.893-02', 'Elissandra Fonseca', 'maikson@hotmail.com', '(21) 93563-7541', 'Avenida da Liberdade 154, Apto 602, Jaguara, Porto Rico - PI')
('641.847.400-73', 'Bruna', 'bruna@gmail.com.br', '(21) 91808-7777', 'Rua Padre João Manuel, 11, Bloco D, Jaçanã, Juazeirinho - PB')
('920.913.138-07', 'Claudionei Mafra', 'isaira@hotmail.com', '(31) 98668-8390"', 'Rua Barão de Itapetininga 509, Apartamento 4001, Sé, Almenara - PE')
('939.444.360-67', 'Fernanda', 'fernanda@gmail.com.br', '(11) 91349-2551', 'Avenida Senador Teotônio Vilela, 447, Apto 403, Jardim São Luís, Além Paraíba - RO')

In [10]:
#Ler os registros da tabela Produto
cursor = conexao.cursor()
cursor.execute('select *from Produto')
for leitura in cursor:
    print(leitura)

(1, 'Celular', 'Basico', 'Samsung', 1)
(2, 'Celular', 'Intermediário', 'Xiaomi', 1)
(3, 'Celular', 'Top de linha', 'Apple', 1)
(4, 'Notebook', 'Básico', 'Samsung', 2)
(5, 'Notebook', 'Intermediário', 'Apple', 2)
(6, 'Notebook', 'Gamer', 'Xiaomi', 2)
(7, 'Camisa', 'Mullet', 'NIKE', 3)
(8, 'Calça', 'Jeans', 'NIKE', 3)
(9, 'Tênis', 'Slip ON', 'NIKE', 4)
(10, 'Camisa', 'T-shirt', 'PUMA', 3)
(11, 'Calça', 'Jogger', 'PUMA', 3)
(12, 'Tênis', 'Carina bdp', 'PUMA', 4)
(13, 'Camisa', 'Tie dye', 'Adidas', 3)
(14, 'Calça', 'Flare', 'Adidas', 3)
(15, 'Tênis', 'Superstar', 'Adidas', 4)
(16, 'Celular', 'Celular 1', 'Apple', 1)
(17, 'Celular', 'Celular 2', 'Samsung', 1)
(18, 'Celular', 'Celular 3', 'Xiaomi', 1)
(19, 'Notebook', 'Notebook 1', 'Apple', 2)
(20, 'Notebook', 'Notebook 2', 'Samsung', 2)
(21, 'Notebook', 'Notebook 3', 'Xiaomi', 2)
(22, 'Camisa', 'Camisa 1', 'Nike', 3)
(23, 'Calça', 'Calça 1', 'Nike', 3)
(24, 'Tênis', 'Tênis 1', 'Nike', 4)
(25, 'Camisa', 'Camisa 2', 'Adidas', 3)
(26, 'Calça', 'Calça 2', 'Adidas', 3)
(27, 'Tênis', 'Tênis 2', 'Adidas', 4)
(28, 'Camisa', 'Camisa 3', 'Zara', 3)
(29, 'Calça', 'Calça 3', 'Zara', 3)
(30, 'Tênis', 'Tênis 3', 'Zara', 4)

In [11]:
#Ler os registros da tabela VendedorProduto
cursor = conexao.cursor()
cursor.execute('select *from VendedorProduto')
for leitura in cursor:
    print(leitura)

(27, '632.975.893-02', 1, 2, Decimal('4000'))
(67, '632.975.893-02', 11, 2, Decimal('4000'))
(68, '632.975.893-02', 2, 5, Decimal('8000'))
(69, '632.975.893-02', 3, 8, Decimal('6000'))
(70, '632.975.893-02', 12, 2, Decimal('3000'))
(71, '920.913.138-07', 4, 4, Decimal('300'))
(72, '920.913.138-07', 5, 12, Decimal('50'))
(73, '920.913.138-07', 6, 10, Decimal('900'))
(74, '920.913.138-07', 7, 32, Decimal('1000'))
(75, '529.470.519-20', 15, 2, Decimal('1000'))
(76, '529.470.519-20', 8, 22, Decimal('100'))
(77, '529.470.519-20', 9, 64, Decimal('30'))
(78, '529.470.519-20', 10, 1, Decimal('1000'))
(79, '403.327.451-04', 2, 1, Decimal('8000'))
(80, '403.327.451-04', 1, 10, Decimal('2000'))