# EXERCÍCIOS 06

In [1]:
#Importar tabelas
import pandas as pd
import pyodbc

In [2]:
#Classe para conexão com o banco de dados
class ConexaoBD():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = 'GROUP-NOTE0146', database= 'empresa', trusted_connection='yes')

#Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD()
#Pegar uma conexão com o banco de dados
conexao = bd.conectar()

In [6]:
# 1) Quais vendedores possuem o nome terminado com a letra “es”?

class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao
    def buscar(self):
        sql = '''select * from Vendedor where nome LIKE '%e' 
            '''
        data_frame = pd.read_sql_query(sql, self.conexao)
        print(data_frame)
        print(type(data_frame))

#Instanciar objeto
vendedor = Vendedor(conexao)
#Ler informação
vendedor.buscar()

              cpf     nome                 email         telefone  \
0  248.823.670-50  Daniele  daniele@gmail.com.br  (11) 92637-1877

                                            endereco
0  Avenida Nova Cantareira, 641, Apartamento 602,...
<class 'pandas.core.frame.DataFrame'>

In [15]:
#2) Quais vendedores possuem produtos com valor entre $10 e $50 ou entre $100 e $500?
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def entre (self):
        sql = '''select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preco 
                 from Vendedor v, VendedorProduto vp, Produto p
                 where v.cpf = vp.cpf_vendedor and 
                 vp.id_produto = p.id and
                 vp.preco between 100 and 1000;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print(data_frame)
        print (type(data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.entre ()

              CPF          Vendedor   Produto   Preco
0  920.913.138-07  Claudionei Mafra  Notebook   300.0
1  920.913.138-07  Claudionei Mafra  Notebook   900.0
2  920.913.138-07  Claudionei Mafra    Camisa  1000.0
3  529.470.519-20       Geisa Rocha     Tênis  1000.0
4  529.470.519-20       Geisa Rocha     Calça   100.0
5  529.470.519-20       Geisa Rocha    Camisa  1000.0
<class 'pandas.core.frame.DataFrame'>

In [25]:
#3) Se Ana vender todos os seu produtos, quanto ela receberá?
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao
    def soma (self):
        sql = ''' select sum (preco*quantidade) as 'Soma dos produtos de cada vendedor'
                  from vendedorProduto where cpf_vendedor = '632.975.893-02'
            '''
        data_frame = pd.read_sql_query(sql, self.conexao)
        print(data_frame)
        print(type(data_frame))

#Instanciar objeto na classe
vendedor_produto = VendedorProduto(conexao)
vendedor_produto.soma()

   Soma dos produtos de cada vendedor
0                            110000.0
<class 'pandas.core.frame.DataFrame'>

In [22]:
#4) Se todos os vendedores venderem todos os seu produtos, qual será o total apurado nas vendas?
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao
    def soma (self):
        sql = ''' select sum (preco*quantidade) as 'Soma dos produtos de cada vendedor'
                    from vendedorProduto
            '''
        data_frame = pd.read_sql_query(sql, self.conexao)
        print(data_frame)
        print(type(data_frame))

#Instanciar objeto na classe
vendedor_produto = VendedorProduto(conexao)
vendedor_produto.soma()

   Soma dos produtos de cada vendedor
0                            187920.0
<class 'pandas.core.frame.DataFrame'>

In [7]:
#5) Se todos os vendedores venderem todos os seu produtos, quem receberá o maior valor?
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select v.nome as Vendedor, sum (vp.quantidade * vp.preco) as 'Total Vendas'
 from Vendedor v, VendedorProduto vp where vp.cpf_vendedor = v.cpf
  group by v.nome, vp.cpf_vendedor
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

             Vendedor  Total Vendas
0        Audrey Marta       28000.0
1         Geisa Rocha        7120.0
2  Elissandra Fonseca      110000.0
3    Claudionei Mafra       42800.0

In [23]:
#6) Se todos os vendedores venderem todos os seu produtos, qual será o valor médio das vendas?
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = '''select avg (preco*quantidade) as 'Valor Médio das Vendas por produto'
                from VendedorProduto
              '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print(data_frame)
        print (type(data_frame))

#Instanciar objeto
vendedor_produto = VendedorProduto(conexao)
#Ler as informações da tabela
vendedor_produto.buscar()

   Valor Médio das Vendas
0                 12528.0
<class 'pandas.core.frame.DataFrame'>

In [12]:
#7) Se todos os vendedores venderem todos os seu produtos, quem receberá acima da média?
    #Quantidade total de vendas de cada vendedor
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select v.nome as Vendedor, sum (vp.quantidade * vp.preco) as 'Total de Vendas'
 from Vendedor v, VendedorProduto vp where vp.cpf_vendedor = v.cpf
  group by v.nome, vp.cpf_vendedor
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

             Vendedor  Total de Vendas
0        Audrey Marta          28000.0
1         Geisa Rocha           7120.0
2  Elissandra Fonseca         110000.0
3    Claudionei Mafra          42800.0

In [13]:
#Média da quantidade de vendas de cada vendedor
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def buscar (self):
        sql = '''         
        select (sum (quantidade * preco)/4) as 'Média das vendas totais'
 from VendedorProduto
 '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

   Média das vendas totais
0                  46980.0

7) Elissandra Fonseca será a única vendedora que irá receber acima de 46980,00 que é a média das vendas.